<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'client')}">

<body>
  
<div class="container"><br>
    <div class="row">
          <div class="col-md-12">
                <table class="table table-bordered rounded-3 text-center table-hover">
          <thead class="table-dark">
          <th>id</th>
          <th>Menu</th>
      <!--<th>Descripcion</th>-->
      <th>Precio</th>
       <th>Foto</th>
          <th>Fecha</th>
          </thead>
          <tbody>
        <tr class="text-light">
          <td >0001</td>
          <td >12</td>
          <td >4</td>
            <td><img src="../img/comida4 - Los detalles para regalar.webp" class="img-fluid" width="60px"/></td>
              <td>23/03/20</td>
        </tr>
        
  </table>
  </div>
  </div>
  </div>
  <div class="" style="margin-top:140px;">
  
  </div>
<!-- IDEA: -------------------item end -->


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    

<script>
  $('.input-group.date').datepicker({
    autoclose: true,
    todayHighlight: true
  });
</script>
<script>
  $(":input").inputmask();
</script>
</body>

</html>