<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'client')}">

<body>





    <!-- COMBAK: ---------------------------------------------------------------- -->


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    

<script>
  $('.input-group.date').datepicker({
    autoclose: true,
    todayHighlight: true
  });
</script>
<script>
  $(":input").inputmask();
</script>
</body>

</html>