
  <br><br><br><br>
  <section>

              <div class="container d-flex justify-content-center " style="/*background-color:#2D2E2B; opacity:0.9;*/" >

                <div class="row col-md-4 pt-4 bg-dark rounded-3 d-flex justify-content-center">
                    <div class="col-8 col-md-6 ">
                        <input type="search" name="txt-cupon" class=" form-control me-2 rounded-pill   " placeholder="Ingrese el Cupon" style="/*opacity:0.5 ; */" >

                    </div>
                    <div class="col-4  col-md-4 mb-4  text-center ">
         <a href="" class="btn btn-info rounded-pill">Aceptar</a>
                        
                    </div>
                </div>
            </div>
</section>
<!-- IDEA: -------------------item end -->
