<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  <link rel="shortcut icon" type="image/x-icon" href="img\icon_user.PNG" />
  <link rel="stylesheet" href="../css/style.css">
  <title>Chamcha</title>
</head>
<body >
<header class=" d-none d-sm-none d-md-block">
  <div class="container-fluid  d-flex justify-content-end pt-3">
    <div class=" row mb-3 ">
      <div class=" col-1 ">
    <div class="pt-2 rounded-circle border border-dark text-center bg-dark " style="height: 55px; width:55px;opacity:0.8">
      <img src="../img/logoUsuario.gif" class="" height="36px">

    </div>
    </div>
  </div>
  </div>

  <div id="sidemenu" class="menu-collapsed shadow rounded-3 ">
    <div id="header" class=" d-flex justify-content-center  pt-0 ">

      <div id="title" class=" row mb-3 "style="margin-top:10px;">
          <div class=" col-6  d-flex justify-content-end ">
          <div class="pt-2 rounded-circle border border-dark text-center bg-dark " style="height: 55px; width:55px; opacity:0.8">
            <img src="../img/LOGO_RESTAURANTE.gif" class="" height="30px">
          </div>
      </div>
    </div>
      <div id="menu-btn" class="navbar-toggler rounded-3 navbar navbar-dark  justify-content-center    " type="button">
        <button class="navbar-toggler  bg-primary" id="menu-btn" type="button">
          <span class="navbar-toggler-icon "></span>
        </button>
      </div>
    </div>
    <hr class="my-0 bg-dark pt-0 mb-0">
    <div id="header">
      <div class=" text-center  pt-2 mb-2" id="title">
        <i class="bi bi-person-circle " style=" font-size:70px; "></i>
        <h3 class="text-light ">Jose</h3>
      </div>
        <a href="Menu_Carta.html" class="nav-link active  style_icon_h height_container pt-0" aria-current="page">
          <div class="d-flex justify-content-between align-items-center text-light">
            <h6 class=" text-left" id="title">Menu a la Carta </h6>
            <h6 class=" text-end " id="profile"><i class="bi bi-calendar2-plus icon_size" ></i>
              <hr class="my-1 bg-danger mb-0 ">
            </h6>
        </div>
      </a>


      <a href="Bandeja_Entrada.html" class="nav-link active  pt-0 style_icon_h height_container" aria-current="page">

        <div class="d-flex justify-content-between align-items-center text-light ">
          <h6 class=" text-left" id="title">Bandeja de Entrada </h6>
          <h6 class=" text-end" id="profile"><i class="bi bi-bell icon_size" ></i>
            <hr class="my-1 bg-danger mb-0 " >
          </h6>
        </div>

      </a>

      <a href="Chat.html" class="nav-link active  pt-0 style_icon_h height_container" aria-current="page">
        <div class="d-flex justify-content-between align-items-center text-light">
          <h6 class=" text-left" id="title">Chatear con Nosotros </h6>
          <h6 class=" text-end" id="profile"><i class="bi bi-chat-dots icon_size"></i>
            <hr class="my-1 bg-danger mb-0 ">
          </h6>
        </div>
      </a>


      <a href="cupon.html" class="nav-link active  pt-0  style_icon_h height_container" aria-current="page">
        <div class="d-flex justify-content-between align-items-center text-light ">
          <h6 class=" text-left" id="title">Cupones </h6>
          <h6 class=" text-end" id="profile"><i class="bi bi-bookmark-star icon_size"></i>
            <hr class="my-1 bg-danger mb-0 ">
          </h6>
        </div>
      </a>

      <a href="beneficios.html" class="nav-link active pt-0 style_icon_h height_container" aria-current="page">
        <div class="d-flex justify-content-between align-items-center text-light">
          <h6 class=" text-left" id="title">Beneficios </h6>
          <h6 class=" text-end " id="profile"><i class="bi bi-star icon_size"></i>
            <hr class="my-1 bg-danger mb-0 ">
          </h6>
        </div>
      </a>


      <a href="beneficios.html" class="nav-link active pt-0 style_icon_h height_container"  href="help.html" id="help_items_" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex justify-content-between align-items-center text-light">
          <h6 class=" text-left dropdown-toggle" id="title">Ayuda </h6>
          <h6 class=" text-end" id="profile"><i class="bi bi-question-circle icon_size"></i>
            <hr class="my-1 bg-danger mb-0 ">
          </h6>
        </div>
      </a>
      <ul class="dropdown-menu" aria-labelledby="help_items_">
        <li><a class="dropdown-item" href="contactenos.html">Contáctenos</a></li>
        <li><a class="dropdown-item" href="#">Pregunta Frecuenta</a></li>
        <li><a class="dropdown-item" href="#">Términos y Condiciones</a></li>
      </ul>

      <div class="text-center  pt-3 mb-0 " id="title">
        <a href="#" class="btn btn--exit rounded-pill  text-light">Cerrar Sesion</a>
      </div>
    </div>
  </div>

</header>

<!-- IDEA: ------------------item2_min cellfhon---items --------------------------------------------------------->
<header>
<div class="container-fluid  d-block d-sm-block d-md-none "  style="position: fixed;">
  <div class=" row d-flex justify-content-end ">
<div class="col bg-dark"style="height:56px;">

</div>
         <div class=" col-10 rounded-3 desing--cellfhon navbar navbar-expand-md navbar-light d-flex justify-content-end ">

   <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#hamburger_items_" aria-controls="hamburger_items_ " aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon" ></span>
   </button>
 <div class="collapse navbar-collapse " id="hamburger_items_"  ><hr class="my-3 pt-0">

     <ul class="navbar-nav pt-2 mb-2 mb-lg-0 text-left " >
       <div class=" mb-4 text-center ">
             <i class="bi bi-person-circle "style=" font-size:60px;" ></i>
               <h3 class="text-light ">Jose</h3>
           </div>

           <li class="nav-item" ><a href="Menu_Carta.html" class="nav-link active" aria-current="page" >
             <div class="card-body-xs justify-content-between align-items-center ">
             <div class="d-flex justify-content-between align-items-center text-light" >
               <h6 class=" text-left  ">Menu a la Carta </h6>
               <h6 class=" text-end"><i class="bi bi-calendar2-plus" style=" font-size:20px;"></i></h6>
                 </div>
             </div></a>
           </li><hr class="my-0 bg-dark">
           <li class="nav-item " ><a href="Bandeja_Entrada.html" class="nav-link active" aria-current="page" >
             <div class="card-body-xs justify-content-between align-items-center ">
             <div class="d-flex justify-content-between align-items-center text-light" >
               <h6 class=" text-left">Bandeja de Entrada </h6>
               <h6 class=" text-end"><i class="bi bi-bell " style=" font-size:20px;"></i></h6>
                 </div>
             </div></a>
           </li><hr class="my-0 bg-dark">
           <li class="nav-item" ><a href="Chat.html" class="nav-link active" aria-current="page" >
             <div class="card-body-xs justify-content-between align-items-center ">
             <div class="d-flex justify-content-between align-items-center text-light" >
               <h6 class=" text-left">Chatear con Nosotros </h6>
               <h6 class=" text-end"><i class="bi bi-chat-dots " style="  font-size:20px;"></i></h6>
                 </div>
             </div></a>
           </li><hr class="my-0 bg-dark">
           <li class="nav-item" ><a href="cupon.html" class="nav-link active" aria-current="page" >
             <div class="card-body-xs justify-content-between align-items-center ">
             <div class="d-flex justify-content-between align-items-center text-light" >
               <h6 class=" text-left">Cupones </h6>
               <h6 class=" text-end"><i class="bi bi-bookmark-star " style="  font-size:20px;"></i></h6>
                 </div>
             </div></a>
           </li><hr class="my-0 bg-dark">
           <li class="nav-item" ><a href="beneficios.html" class="nav-link active" aria-current="page" >
             <div class="card-body-xs justify-content-between align-items-center ">
             <div class="d-flex justify-content-between align-items-center text-light" >
               <h6 class=" text-left">Beneficios </h6>
               <h6 class=" text-end"><i class="bi bi-star " style=" font-size:20px;"></i></h6>
                 </div>
             </div></a>
           </li><hr class="my-0 bg-dark">


           <li class="nav-item dropdown ">
             <a class="nav-link  d-flex justify-content-between align-items-center text-light  " href="help.html" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <h6 class=" text-left dropdown-toggle">Ayuda </h6>
               <h6 class=" text-end"><i class="bi bi-question-circle " style=" font-size:20px;"></i></h6>
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <li><a class="dropdown-item" href="contactenos.html">Contáctenos</a></li>
               <li><a class="dropdown-item" href="#">Pregunta Frecuenta</a></li>
               <li><a class="dropdown-item" href="#">Términos y Condiciones</a></li>

             </ul>
           </li><hr class="my-0 bg-dark">





           <div class="text-center pt-3 ">
             <a href="#" class="btn btn--exit rounded-pill col-6 text-light">Cerrar Sesion</a>
           </div>

   </div>
</nav>
         </div>
       </div>
</div>
</header>

<!-- IDEA: -------------------item end -->
<section>
  <div class="container text-center h-100 pt-4 d-flex justify-content-center align-items-center">
      <div class="col-8 col-md-5 ">
          <form action="" id="form" class="">
            <input type="search" name="busqueda" id="id_search" class=" input-icono form-control me-2 rounded-pill   " placeholder="Menu a buscarr..." style="background-color:transparent;/*opacity:0.5 ;*/ margin-top: 120px;" >

          </form>
            </div>
              </div>
</section>
<!-- IDEA: -------------------item end -->


<script type="text/javascript">
  const btn = document.querySelector('#menu-btn');
  const menu = document.querySelector('#sidemenu');
  btn.addEventListener('click', e => {
    menu.classList.toggle("menu-expanded");
    menu.classList.toggle("menu-collapsed");
    document.querySelector('body').classList.toggle('body-expanded');
  });
</script>


<footer class="pt-4 foot " style="background-color:#2D2E2B; margin-top: 400px; ;">
  <div class="container text-muted">
    <div class="row ">
      <div class="col-4 col-md  ">
        <a class="navbar-brand" href="#"><img src="../img/LOGO_RESTAURANTE.gif" class="img-fluid " width="130px" height="80px" alt=""></a>

      </div>
      <div class="col-4 col-md  d-flex justify-content-center ">
        <h5>Contáctanos</h5>

      </div>
      <div class="col-4 col-md ">
        <h5>Nosotros</h5>

      </div>
      <div class="col-12 text-center col-md mb-2">
        <h5>Redes Sociales</h5>

        <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-whatsapp c"></i></a>

        <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-facebook c"></i></a>
        <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-instagram c"></i></a>

      </div>
      <hr class=" d-block d-sm-block d-md-none">
      <div class="row-fluid ">
        <div class="text-center ">
          <small class="d-block mb-3 text-muted h6"> ©2021 copyright La Chamcha </small>
        </div>
      </div>

    </div>
</footer>



<!--es para el boton de menu-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>
