<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'contact')}">
 <head>
 
 </head>

<body>



<br><br>
  <div class="container pt-4">
    <div class="row justify-content-center ">
  
      <div class="container pt-4 col-10 col-md-4 rounded-3 shadow shadow-lg p-3 mb-5 fond " >
            <form th:object="${contact}" th:action="@{/contacto/create}" method="post">

            <h4 class="text-center mb-3 text-light "> Registrar Datos </h4><hr class="my-2 bg-info mb-4">
          

              <div class="mb-3 ">
                <input class="form-control p-2 mb-3 input-color fondo_inp"  th:field="*{name}" placeholder="Ingrese su Nombre">
                <input class="form-control p-2 mb-3 input-color fondo_inp"  th:field="*{apellido}" placeholder="Ingrese su  Apellido">
                
                <input class="form-control p-2 mb-3 input-color fondo_inp"  th:field="*{email}" placeholder="Ingrese su Correo">
                <input class="form-control p-2 mb-3 input-color fondo_inp"   th:field="*{direccion}"   placeholder="Ingrese su direccion" >
                <input class="form-control p-2 mb-3 input-color fondo_inp" type="password"  th:field="*{password}" placeholder="Ingrese su Contraseña">
                
              </div>
                <button th:with="text='Registrar'" class="btn-submit" type="submit" th:text="${text}">
                  </button>
                  
          </form>
      </div>

  
    </div>
    <div class="container pt-4 ">
      <div class="row text-center align-items-center justify-content-center ">
          <div class="container col-10 col-md-4  rounded-3 shadow" style=" background-color: rgb(116, 112, 112);">
               <div class="row">
  
                      <div class=" col-12 text-center pt-4">
        <p th:text="${mensaje}" />
                        

                      </div>
                      <div class="col-12 justify-content-between align-items-center pt-4 mb-3">
                          <a href="" class="text-left btn btn-warning ">regresar</a>
                          
                      </div>
  
              </div>
          </div>
           
      </div>
  </div>
  </div>


</body>

</html>