


<footer class="pt-4 foot " style="background-color:#2D2E2B;" th:fragment="footer">
   <div class="container text-muted">
       <div class="row ">
           <div class="col-4 col-md  ">
              <a class="navbar-brand" href="#"><img src="../img/LOGO_RESTAURANTE.gif" class="img-fluid " width="130px" height="80px" alt=""></a>
      
            </div>
            <div class="col-4 col-md  d-flex justify-content-center ">
              <h5>Contáctanos</h5>
      
            </div>
            <div class="col-4 col-md ">
              <h5>Nosotros</h5>
      
            </div>
            <div class="col-12 text-center col-md mb-2">
              <h5>Redes Sociales</h5>
      
              <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-whatsapp c"></i></a>
      
              <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-facebook c"></i></a>
              <a class="" href="#" style=" color:#070707; font-size:40px;"><i class="bi bi-instagram c"></i></a>
      
            </div>
            <hr class=" d-block d-sm-block d-md-none">
            <div class="row-fluid ">
              <div class="text-center ">
                <small class="d-block mb-3 text-muted h6"> ©2021 copyright La Chamcha </small>
              </div>
            </div>
       </div>      
  </div>
</footer>

<!-- Carta -->
<div class="col-sm-8 col-lg-5 mx-auto mt-5 text-center "th:fragment="carta">
  <div class="container p-4 caja-comida">
      <div class="row">
          <div class="col-5">
              <img src="../img/comida1/Fuente de Aji de gallina para 2 personas.webp" alt="" class="w-100 h-100">
          </div>
          <div class="col-7 text-light">
              <h4>Fuente de Aji de gallina para 2 personas</h4>
              <a class="btn col-lg-8 text-center text-light p-1 mt-3 boton-caja">                                    
                  <span>Agregar</span>                                    
                  <span>s./ 20.00</span>                                    
              </a>
          </div>
      </div>
  </div>                
</div>

