*{
    font-family: 'Roboto', sans-serif;
}

.padre{
    background-image: url(/img/ComplejoValleGrande.jpg);
    padding-bottom: 20px;
}

.principal-uno{
    height: 100vh;
}


.pideAhora{
    font-weight: bold;
    letter-spacing: 5px;
}

#direc::placeholder{
    color: white;
}


.principal-dos{
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 50px;
}