.fond{
	background: #24303c;
	font-family: 'calibri';
  }
  
	.input-color{
	  width: 100%;
	  background: #24303c;
	  padding: 10px;
	  border-radius: 4px;
	  margin-bottom: 16px;
	  border: 1px solid #1f53c5;
	  font-family: 'calibri';
	  font-size: 18px;
	  color: white;
	}
  
	.fondo_inp:focus {
	  background: #24303c;
	  color: white;
	}
	.btn-submit{
	  width: 100%;
	  background: #1f53c5;
	  border: none;
	  padding: 12px;
	  color: white;
	  margin: 16px 0;
	  font-size: 16px;
	}